body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#cake-container {
  position: relative;
}

#cake {
  width: 300px; /* Задайте размер торта по вашему желанию */
}

#candle {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 150px;
  background-color: #ffcc00;
  border-radius: 5px;
}

#flame {
  position: absolute;
  bottom: 170px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 60px;
  background: conic-gradient(from 180deg at 50% 100%, #ffcc00 20%, #ff9900 50%, #ffcc00 80%);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  animation: flameAnimation 1s infinite alternate;
}

@keyframes flameAnimation {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1.2);
  }
}
